<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的博客</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/edit.css">
    
</head>
<body>
    <%- include('./public/header')  %> 
    <section class="main floatfix">
        <%- include('./public/aside') %> 
        <section class="main-edit">
            <p>欢迎来到我的博客，希望和大家一起学习</p>
        </section>
</body>
</html>