
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.floatfix:after{
    content: '';
    display: block;
    clear: both;
}
.floatfix{
    *zoom: 1;
}
body{
    background-color: #f0f0f0;
    padding: 0%;
    margin: 0;

}


header{
    height: 135px;
    background-image: url(../images/5.png);
    background-position:center;
    margin-bottom: 25px;
    background-size: cover;
}
header h1{
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 35px;
    padding: 50px 0;
    word-spacing: 0.5em;
}
.main{
    padding: 0 15px;
    width: 1174px;
    margin: 0 auto;
    margin-bottom: 25px;
}
aside{
    width: 180px;
    padding: 9px;
    border: 1px solid #c0c0c0;
    float: left;
    min-height: 450px;
    height: 100%;
}
aside ul li {
    list-style: none;
    height: 30px;
    text-align: center;
}
aside ul li a {
    font-size: 16px;
    line-height: 30px;
}

aside ul li a:hover{
    color: #183d8e;
}
.main-asie-avatar {
    margin-bottom: 10px;
}
.main-asie-avatar img{
    width: 100%;
}
.main-article{
    margin-left: 220px;
}
.main-articles-item{
    height: 80px;
    border: 1px solid #c0c0c0;
    padding: 10px;
    margin-bottom: 10px;
}
.main-articles-item h2{
    margin: 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
}
.main-articles-items-des span{
    padding-right: 8px;
    color: #333;
    font-size: 14px;
}
@keyframes move{
    from{
        transform: translate(0px,0);
    }
    to{
        transform: translate(50px,0);
    }
}
.maxin-articles-item:hover{
    animation: move 1.8s;
    animation-fill-mode: forwards;
}
.right{
    float: right;
}
.page{
    text-align: center;
    margin-top: 15px;
}
.page span{
    display: inline-block;
    background-color: #fff;
    width: 24px;
    margin: 0,5px;
    line-height: 24px;
    height: 24px;
}
.page span a {
    display: block;
}
.page span:hover a{
    background: #183d8e;
    color: #fff;
}
.page .active a{
    background: #183d8e;
    color: #fff;
}