<!DOCTYPE html>
<html lang="en">
<head>
    <title>我的博客</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <aside>
    <section class='main-asie-avatar'>
      <img src="/images/15.jpg" alt="">
    </section>
    <ul>
      <li><a href="/">博客首页</a></li>
      <li><a href="/about">关于博客</a></li>
      <li><a href="/edit">撰写文章</a></li>
      <li><a href="/login">登录博客</a></li>
    </ul>
  </aside>
</body>
</html>