<!DOCTYPE html>
<html lang="en">
<head>
    <title>我的博客</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <header>
        <h1>无聊人的博客</h1>
    </header>
</body>
</html>